<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.snapxeats">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />

    <application
        android:name=".SnapXApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_snapx_app_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="@string/HOCKEYAPP_APP_ID" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="18.216.193.78"
                    android:port="3000"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.location.LocationActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ui.foodstack.FoodStackActivity" />
        <activity android:name=".ui.restaurant.RestaurantDetailsActivity" />
        <activity android:name=".ui.restaurantInfo.RestaurantInfoActivity" />
        <activity android:name=".ui.foodpreference.FoodPreferenceActivity" />
        <activity android:name=".ui.cuisinepreference.CuisinePrefActivity" />
        <activity android:name=".ui.directions.DirectionsActivity" />
        <activity android:name=".ui.maps.MapsActivity" />
        <activity android:name=".ui.home.fragment.snapnshare.CameraActivity" />
        <activity android:name=".ui.review.ReviewActivity" />
        <activity android:name=".ui.shareReview.ShareReviewActivity" />

        <receiver
            android:name=".ui.home.fragment.snapnshare.SnapNotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".ui.directions.CheckInNotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <!--Checkin notification service-->
        <service
            android:name=".ui.home.fragment.snapnshare.SnapNotificationService"
            android:exported="false" />

        <service
            android:name=".ui.home.fragment.snapnshare.RemindMeLaterService"
            android:exported="false" />
    </application>

</manifest>